.chapter1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fbeaf3;
  background-image: url("../../Assets/background1.png");
  background-size: 70px;

  .chapter1__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    .inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: calc(100% - 5%);
      height: calc(100% - 5%);
      background-color: $theme-light-pink;
      background-image: url("../../Assets/background1.png");
      background-size: 70px;
      transform: rotate(-4deg);

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        box-sizing: border-box;
        border: dashed 2px $border-color;
      }
    }
  }

  .chapter1__load-view {
    position: absolute;
    top: calc(50% - 65px);
    left: calc(50% - 150px);
    width: 300px;
    height: 130px;

    .load-icon {
      display: block;
      margin: 0 auto;
      width: 120px;
    }

    .progress-bar {
      width: 240px;
      height: 3px;
      margin: 0 auto;
      margin-top: 20px;
      border: 1px solid #eee;
      background-color: #fff;
      overflow: hidden;

      div {
        width: 100%;
        height: 100%;
        background-color: #3468ee;
        transform: translateX(-100%);
      }
    }
  }
}

.chapter1 {
  animation-name: fadeout;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;

  // ReactでonAnimationEndを使うために必要
  // ホントは消したい
  .end {
    animation: dummy 0.5s ease 2s forwards;
  }

  .chapter1__load-view {
    .progress-bar div {
      animation-name: slide-right;
      animation-duration: 1.8s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
    .load-icon {
      animation-name: load-icon__jump;
      animation-timing-function: ease;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}